:root{
    --fuenteHeading: 'Fuzzy Bubbles', cursive;
    --fuenteParrafo: 'Fira Sans', sans-serif;;
    --fuenteTitulo: 'Shalimar';

    --primario: #784D3C;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #e1e1e1;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
*, *:before, *:after {
    box-sizing: inherit;
} 

body{
    font-family: var(--fuenteParrafo);
    font-size: 1.6rem;;
    line-height: 2;
}

/**GENERAL**/
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    /*padding-top: 1rem;*/
}


a{
    text-decoration: none;
}

p{
    font-size: 1.5rem;
    font-family: var(--fuenteParrafo);
}

h1,h2,h3{
    font-family: var(--fuenteHeading);
    line-height: 1;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
    line-height: normal;
}
img{
    max-width: 100%;
}
/**UTILIDADES**/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-text{
    text-align: center;
}
.centrar-contenido{
    margin: 0 auto;
}

/**HEADER**/
.header{
    background-image: url(../img/banner1.jpg);
    min-height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}
.header__texto h2{
    text-align: center;
    color: var(--blanco);
    margin-bottom: 2rem;
    margin-top: 3rem;
    font-size: 3rem;
    font-family: var(--fuenteHeading);
}

@media(min-width:768px){
    .header__texto h2{
        margin-top: 6rem;
        font-size: 4rem;
    }
}


@media(min-width:768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo{
    color: var(--blanco);
}
.logo__nombre{
    font-weight: normal;
}
.logo__bold{
    font-weight: bold;
}

.navegacion{
    display: flex;
    flex-direction: column;
}
@media(min-width:768px){
    .navegacion{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 3rem;
    }
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}
/*
@media(min-width:768px){
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
    
}
*/

.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.entrada:last-of-type{
    border:none;
    margin-bottom: 0px;
}
.boton{
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}
.boton--primario{
    background-color: var(--negro);
}
@media(min-width:768px){
    .boton{
        display: inline-block;
    }
}
.informacion{
    margin: 0 auto;
    max-width: 120rem;
}

.boton--secundario{
    background-color: var(--primario);
}
.cursos{
    list-style: none;
}
.widgest-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.widgest-curso:last-of-type{
    border-bottom: none;
    margin-bottom: 0px;
}
.widgest-curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.widgest-curso__info{
    font-weight: normal;
}

.footer{
    background-image: url(../img/fondo_servicios.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 2rem;
}

/*Sobre nosotros*/

.sobre_nosotros{
    display: grid;
    gap: 2rem;
    border-bottom: solid;
    border-width: .1rem;
    border-color: var(--gris);
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    .sobre_nosotros{
        grid-template-columns: repeat(2,1fr);
        
    }
}

.ayuda{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sobre_nosotros--imagen{
    width: 100%;
}

.sobre_nosotros--info h3{
    display: flex;
    justify-content: center;
}

.sobre_nosotros--info{
    text-align: center;
    font-size: 3.0rem;
    font-weight: bold;
    font-family: var(--fuenteTitulo);
    text-anchor: middle;

}

/*Servicios*/
.servicios{
    /*background-image: url(../img/fondo_servicios.jpeg);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width:100%;
    height: 30rem;
    gap: 3rem;
    padding: 2rem;
    height: 35rem;
    text-align: center;
}
@media(min-width: 768px)  {
    .servicios{
        flex-direction: row;
        justify-content: space-between;
        
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.servicio--item{
    width: 25rem;
    height: 30rem;
    border-radius:2rem;
    position: relative;
    background-repeat: no-repeat;
}

.servicio__criollo{
    background-image: url(../img/criollo.jpeg);
}
.servicio__marino{
    background-image: url(../img/buffet_marino.jpeg);
}
.servicio__internacional{
    background-image: url(../img/inter.jpeg);
}

.sombra{
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:2rem;
}
.sombra__titulo{
    font-weight:bold;
    font-size: 2rem;
}


.servicio--imagen{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5%;
    height: 25rem;
    width: 20rem;
    
    
}

/** NOSOTROS**/

.main__titulo{
    text-align: center;
}

@media(min-width:768px){
    .main__grid{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
    .main__grid--imagen{
        flex:1;
    }
    .main__grid--info {
        flex:1;
    }
}

.icon_page{
    width:50px;
}

.footer_titulo{
    color: white;
}

.texto_blanco{
    color: white;
}

.flex-alig{
    display:flex;
    justify-content: center;
}
@media (min-width: 760px) {
    .flex-alig{
        align-items:center;
    }
}
/*aqui inicia el codigo del formulario de contacto*/
.columna{
    text-align:center;
    color: var(--blanco);
}
.contact-form {
  background-color: #201e1e;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
  max-width: 40rem;
}

.contact-form input,
.contact-form select {
  padding: 1rem;
  border-style: none;
  font-size: 18px;
  border-radius: 1rem;
}

.fecha-evento{
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
@media (min-width: 340px) {
    .fecha-evento{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.contact-form textarea {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  background: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 1rem;
  width: 100%;
  height: 20rem;
  font-family: inter;
  font-weight: normal;
}

.contact-form textarea:focus {
  border-bottom: 2px solid #1a883f;
}

.contact-form button {
  font-size: 19px;
  font-weight: bold;
  width: 100%;
  margin-top: 20px;
  border: none;
  padding: 12px 20px;
  color: #fff;
  transition: 0.2s ease-in-out;
  background-color: #FFB718;
  border-radius: 1rem;
}

.message{
    resize: none;
}
.contact-form button:hover {
  background-color: #ffc240;
  cursor: pointer;
}

.navegacion__enlace:hover{
    font-weight: bold;
    cursor: pointer;
}

.boton_contactanos{
    color: white;
    text-align: center;
    margin: 0 auto;
    max-width: 200px;
    padding: 1px;
    transition: 0.2s ease-in-out;
    background-color: #FFB718;
    border-radius: 1rem;
}

.boton_contactanos:hover{
    background-color: #ffc240;
    cursor: pointer;
}
.contact-wraper{
    gap: 2rem;
}

@media (min-width: 750px) {
    .contact-wraper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.info-contact{
    color: white;
    margin: auto 10%;
}
.bold{
    font-weight: bold;
    font-size: 2rem;
}


.contenidoLog{
    display: flex;
    flex-direction: row;
}



.formulario{
    display: flex;
    flex-direction:row;
}